
<head>
  <title>IT255-DZ07-3393</title>
</head>
<body>
  <div>
    <h3>IT255-DZ08-3393</h3>
  </div>
  <div>
    <form action="#!" [formGroup]="form">
      <div>
          <label for="type" class="labele"> Naziv Hotela:</label>
          <input required id="nazivhotela" #newtitle placeholder="naziv"
            name="type" formControlName="nazivHotelaForma" [ngClass]="{'is-invalid': form.get('nazivHotelaForma').touched
             && form.get('nazivHotelaForma').invalid}">
          <div *ngIf="form.get('nazivHotelaForma').touched && form.get('nazivHotelaForma').invalid" class="invalid-feedback">
            <div *ngIf="form.get('nazivHotelaForma').errors.required">Naziv je obavezan!</div>
            <div *ngIf="form.get('nazivHotelaForma').errors.minlength">Naziv mora imati najmanje 6 karaktera!</div>
      </div>
    </div>
    <div>
        <label for="price" class="labele"> Cena Hotela:</label>
        <input required id="cenahotela" type="number" #newprice placeholder="cena" name="cena" formControlName="cenaHotelaForma"
         [ngClass]="{'is-invalid': form.get('cenaHotelaForma').touched && form.get('cenaHotelaForma').invalid}">
        <div class="invalid-feedback">
          <div>Cena je obavezna!</div>
        </div>
      </div>

      <div>
        <label for="price" class="labele">Nocenja:</label>
        <input required id="nights" type="number" class="form-control" style="text-align:center" #newnights
          placeholder="nights" name="nights" formControlName="nocenjaHotelaForma"
          [ngClass]="{'is-invalid': form.get('nocenjaHotelaForma').touched && form.get('nocenjaHotelaForma').invalid}">
        <div class="invalid-feedback">
          <div>Broj nocenja je obavezno!</div>
        </div>
      </div>


      <button type="submit"
            (click)="dodajHotel(newtitle,newprice,newnights)" [disabled]="!form.valid"> Potvrdi</button>
          <button type="submit"
            (click)="changeOrder()">Promena Redosleda</button>

    </form>
    <div>
        <div>
          <h3>Pretraga hotela po ceni</h3>
          <input [(ngModel)]="price" placeholder="CENA" />
        </div>
        <div  *ngFor="let hotel of hotels | filter : price; index as i;">
          <app-hotels (hotelToDelete)="deleteHotel($event)" (updateHotel)="changeContent($event)"
            [hotel]="hotel"></app-hotels>
        </div>
      </div>
  </div>
</body>