
<head>
  
  <meta charset="utf-8">
</head>

<body>
  <div class="container mt-5 mb-5">
    <div class="">
      <h5 class="card-header info-color white-text text-center py-4">
       
      </h5>
      <div class="card-body px-lg-5 pt-0">
        <form class="text-center" action="#!">
          <div class="md-form">
            <label for="type" class="labele">Naziv Hotela:</label>
            <input class="form-control" style="text-align:center" #newtitle placeholder="ime" name="type">
          </div>
          <div class="md-form">
            <label for="cena"  class="labele">Cena Hotela:</label>
            <input type="number" class="form-control" style="text-align:center" #newprice placeholder="price" name="cena">
          </div>
          <button type="submit" 
            (click)="dodajHotel(newtitle,newprice)">UNESI</button>
          <button type="submit"
            (click)="changeOrder()">PROMENA REDOSLEDA</button>
        </form>
        <div>
          <div class="md-form">
            <h3>Pretraga hotela po ceni</h3>
            <input [(ngModel)]="price" class="form-control" placeholder="CENA" />
          </div>
          <div class="container mt-5 mb-5" *ngFor="let hotel of hotels | filter : price; index as i;">
            <app-hotels class="container mt-5 mb-5" (deleteHotel)="deleteHotel($event)" (changeContent)="changeContent($event)" [hotel]="hotel"></app-hotels>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>